# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2.1
orbs:
  slack: circleci/slack@4.4.4
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/openjdk:16.0.2
    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout
      - run:
          name: Extract Email Address of committer
          command: |
            COMMIT_EMAIL=$(git --no-pager log -1 -s --format="%ae")
            echo "export COMMIT_EMAIL=$COMMIT_EMAIL" >> $BASH_ENV
      - run:
          name: Fetch Slack User ID
          command: |
            SLACK_USER_ID=$(curl -H "Authorization: Bearer $SLACK_ACCESS_TOKEN" -d "email=$COMMIT_EMAIL" https://slack.com/api/users.lookupByEmail | jq '.user.id')
            echo "export SLACK_USER_ID=$SLACK_USER_ID" >> $BASH_ENV

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      # run tests!
      - run: gradle test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
          when: always
      - store_test_results:
          path: ~/test-results
      - store_artifacts:
          path: ~/test-results/junit
      - slack/notify:
          event: fail
          channel: '$SLACK_USER_ID'
          template: basic_fail_1
      - run:
          name: Fail Fast
          when: on_fail
          command: circleci-agent step halt
      - slack/notify:
          event: pass
          channel: '$SLACK_USER_ID'
          template: basic_success_1
  deploy_to_artifactory:
    docker:
      # specify the version you desire here
      - image: cimg/base:2021.07
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Extract Email Address of committer
          command: |
            COMMIT_EMAIL=$(git --no-pager log -1 -s --format="%ae")
            echo "export COMMIT_EMAIL=$COMMIT_EMAIL" >> $BASH_ENV
      - run:
          name: Get Slack User ID
          command: |
            SLACK_USER_ID=$(curl -H "Authorization: Bearer $SLACK_ACCESS_TOKEN" -d "email=$COMMIT_EMAIL" https://slack.com/api/users.lookupByEmail | jq '.user.id')
            echo "export SLACK_USER_ID=$SLACK_USER_ID" >> $BASH_ENV
      - run: gradle artifactoryPublish
      - slack/notify:
          event: pass
          channel: '$SLACK_USER_ID'
          template: ARTIFACTORY_TEMPLATE
workflows:
  build_and_test:
    jobs:
      - build:
        context:
          - slack-secrets
      - deploy_to_artifactory:
         context:
            - artifactory+-secrets
            - slack-secrets
            - AWX-secrets
         requires:
            - build
         filters:
           branches:
           only: main
